@charset "utf-8";

/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }

/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {display: block;}

/* 图片自适应 */
img {
max-width: 100%;
height: auto;
width:auto\9; /* ie8 */
-ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
}

/* 初始化 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:none;}
*{padding: 0;margin: 0;}
body{font-family: Microsoft YaHei,Tahoma,Arial,sans-serif; color:#525252; background-color:#fff;font-size: 18px;}
em,i{font-style:normal;}
strong{font-weight: normal;}
a{text-decoration:none; color:#676767; font-family: Microsoft YaHei,Tahoma,Arial,sans-serif;}
ul,ol{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-family: Microsoft YaHei,Tahoma,Arial,sans-serif;;}
img{ border:none; display:block;/*img底部空白*/}
textarea{ resize:none;outline:none;}
input,area{ outline:none;border:0 none; font-family:  Microsoft YaHei,Tahoma,Arial,sans-serif;}/* 谷歌浏览器表单元素外框 */

table { border-collapse:collapse; border-spacing:0; } /*table的重叠边框合并*/ 
html {overflow-y:scroll;} 
ul,ol,li{list-style-type:none;} 
select,input,img{vertical-align:middle;} 
a{text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:none;} 

/*定义常用类*/
.clearfix:after,.clearfix:before{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.wrap{width:1200px;margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
html,body{width: 100%;height: 100%;overflow: hidden;}

/*控件库开始========*/
/*清除select的默认样式，添加自己的三角图标*/
select{
appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
padding-right: 14px !important;
background: url(../img/dot_down.png) no-repeat  right center transparent;
background-color:transparent;
font-family:"微软雅黑";
outline: none;
}
select::-ms-expand { display: none; }












