.tableHUl {
	line-height: 25px;
	margin-bottom: 10px;
	border-bottom: 2px solid #5C98D2;
	background: #fff;
	margin-top: 15px;
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 5px;
	width: 100%;
}

.tableHUl>li {
	float: left;
	box-sizing: border-box;
	padding-left: 15px;
}

.controlBtns {
	padding: 10px 0 15px;
}

.controlBtns button {
	margin-left: 20px;
}

.ibox-title span {
	margin-right: 30px;
	font-weight: bold;
	color: #666666;
}

.ibox-content {
	padding: 0;
}

.orderUl .orderLi:nth-of-type(1) {
	width: 60%;
	border-right: 1px solid #dee5e7;
}

.orderUl .orderLi:nth-of-type(2) {
	width: 40%;
}

.orderUl .orderLi:nth-of-type(1) .itemOrderUlL:nth-last-of-type(1) {
	border-bottom: none;
}


/*菜单的左边*/

.itemOrderUlL {
	border-bottom: 1px solid #dee5e7;
	box-sizing: border-box;
	padding: 5px 0;
}

.itemOrderUlL li {
	box-sizing: border-box;
	padding-left: 15px;
}

.itemOrderUlL>li:nth-of-type(1) {
	width: 40%;
}

.itemOrderUlL>li:nth-of-type(2) {
	width: 20%;
}

.itemOrderUlL>li:nth-of-type(3) {
	width: 20%;
}

.itemOrderUlL>li:nth-of-type(4) {
	width: 20%;
}


/*菜单的左边*/

.itemOrderUlR {}

.itemOrderUlR li {
	box-sizing: border-box;
	padding-left: 15px;
}

.proImg {
	width: 60px;
	height: 60px;
	margin-right: 10px;
}

.itemOrderUlR>li:nth-of-type(1) {
	width: 25%;
}

.itemOrderUlR>li:nth-of-type(2) {
	width: 25%;
}

.itemOrderUlR>li:nth-of-type(3) {
	width: 25%;
}

.itemOrderUlR>li:nth-of-type(4) {
	width: 25%;
}


/*分页的样式*/


/*
			  * 外面盒子样式---自己定义
			  */

.page_div {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 15px;
	font-family: "microsoft yahei";
	color: #666666;
	margin-right: 10px;
	padding-left: 20px;
	box-sizing: border-box;
}


/*
			 * 页数按钮样式
			 */

.page_div a {
	min-width: 30px;
	height: 28px;
	border: 1px solid #dce0e0!important;
	text-align: center;
	margin: 0 4px;
	cursor: pointer;
	line-height: 28px;
	color: #666666;
	font-size: 13px;
	display: inline-block;
}

#firstPage,
#lastPage {
	width: 50px;
	color: #0073A9;
	border: 1px solid #0073A9!important;
}

#prePage,
#nextPage {
	width: 70px;
	color: #0073A9;
	border: 1px solid #0073A9!important;
}

.page_div .current {
	background-color: #0073A9;
	border-color: #0073A9;
	color: #FFFFFF;
}

.totalPages {
	margin: 0 10px;
}

.totalPages span,
.totalSize span {
	color: #0073A9;
	margin: 0 5px;
}