.v-table {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.v-table .v-table-head {
    background: #eee;
    line-height: 24px;
    font-weight: 600;
}
.v-table .v-table-tr {
    display: block;
    font-size: 0;
    border-bottom: 1px solid #ddd;
}
.v-table .v-table-body {

}
.v-table .v-table-body .v-table-tr {
    line-height: 60px;
}
.v-table .v-table-tr>span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #676a6c;
    border-right: 1px solid #ddd;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.v-table .v-table-tr .v-table-image {
    width: 40%;
}
.v-table .v-table-tr .v-table-name {
    width: 20%;
}
.v-table .v-table-tr .v-table-sort {
    width: 10%;
}
.v-table .v-table-tr .v-table-oper {
    width: 30%;
}
.v-table .v-table-body .v-table-image {
    position: relative;
    padding-left: 40px;
}

.v-table .v-table-tr img {
    height: 60px;
}
.v-table .v-table-item {

}
.v-table .v-table-body .group-item {
    display: none;
}

.v-table .v-table-tr .icon-collapse {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -8px;
    font-size: 16px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    line-height: 1;
    font-weight: normal;
    cursor: pointer;
}
.v-table .v-table-tr .icon-collapse:before {
    content: '＋';
}
.v-table .v-table-tr .active:before {
    content: '－';
}