.clearfix:after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}

.clearfix {
	zoom: 1;
}


/*flex盒子*/

.flex_box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	-webkit-align-items: center;
}

.flex1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.formUl {
	margin-top: 20px;
}

.formli {
	margin-bottom: 15px;
}

.formli label {
	width: 130px;
	text-align: right;
	margin-right: 15px;
}

.formli select {
	border: 1px solid #E7EAEC;
	width: 192px;
	height: 34px;
	line-height: 34px;
	box-sizing: border-box;
}

input[type="text"], input[type="number"] {
	border: 1px solid #E7EAEC;
	width: 192px;
	height: 34px;
	line-height: 34px;
	box-sizing: border-box;
	padding: 0 5px;
	background-color: #FFFFFF !important;
	font-size: 14px;
	font-family: "microsoft yahei";
}

input[type="radio"],
input[type="checkbox"] {
	margin-right: 5px !important;
	vertical-align: -2px;
}

textarea {
	border: 1px solid #E7EAEC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 350px;
	outline: none;
	box-sizing: border-box;
	padding: 10px 5px;
}

.leLayer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

.leLayerCon {
	background-color: #FFFFFF;
	width: 500px;
	height: 600px;
	margin-left: -20% !important;
}

.leLayer .leLayerFt {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background-color: #FFFFFF;
	opacity: 1;
	font-size: 14px;
}

.example-wrap {
	background-color: #FFFFFF;
}

.crumbs {
	/*height: 40px;*/
	/*background-color: #FFFFFF;*/
	margin-bottom: 10px;
	font-family: "microsoft yahei";
	/*line-height: 40px;*/
	font-size: 14px;
	box-sizing: border-box;
	/*padding-left: 10px;*/
	margin-left: 0;
}

.crumbs li {
	margin: 0 5px;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.imgTd p {
	margin: 0;
	line-height: 1.8;
}
.imgTd img {
	width: 50px;
	height: 50px;
}

.imgTd>div:nth-of-type(1) {
	margin-right: 10px;
	width: 50px;
	height: 50px;
}

.fixed-table-toolbar {
	margin-bottom: 10px;
}

.fixed-table-toolbar input[type="text"] {
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}

.tableList a {
	margin-right: 10px;
}
.hid{
	display: none;
}
